 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-family: Arial;

}

h1 {
  color: #6d7f92;
  margin-top: 90px;
  margin-bottom: 100px;
  text-align: center;

}

 .title {
  padding: 5px;
  width: 100px;
  border: 1px solid black;
  color: white;
  font-size: 22px;
  text-align: center;
  float: right;
  
 
  
}

.chicken {
  background-color: #93926c;
}

.beef {
  background-color: #a95662;
}


.sushi {
  background-color: #749b64;
}

.container {

  margin: 1%;
  background-color: #73708f;
  border: 1px solid black;

}


.row {
  width: 100%;
  
}

.content {
  color: white;
  padding: 5%;
  clear: right;

}

@media (min-width: 992px) {
  .col-lg-4, 
  {
  float: left;
  }
    .col-lg-4 {
    width: 33.33%;
  }

}


@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6,  {
    float: left;
   }
  .col-md-6 {
    width: 50%;
  }
 
}


@media (max-width: 767px) {
  .col-ph-12, 
  {
    float: left;
  }
  .col-ph-12 {
    width: 100%;
  }
}

