* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-family: Arial;

}

h1 {
  color: #6d7f92;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;

}

 .title {
  padding: 5px;
  width: 100px;
  border: 1px solid black;
  color: white;
  font-size: 22px;
  text-align: center;
  float: right;
  
 
 


  
}

.chicken {
  background-color: #93926c;
}

.beef {
  background-color: #a95662;
}


.sushi {
  background-color: #749b64;
}

.container {

  margin: 1%;
  background-color: #8a9e61;
  border: 1px solid black;

}


.row {
  width: 100%;
  
}

.content {
  color: white;
  padding: 5%;
  clear: right;

}

@media (min-width: 992px) {
  .big-1, .big-2, .big-3, .big-4, .big-5, .big-6, .big-7, .big-8, .big-9, .big-10, .big-11, .big-12 {
  float: left;
   

  }
  .big-1 {
    width: 8.33%;
  }
  .big-2 {
    width: 16.66%;
  }
  .big-3 {
    width: 25%;
  }
  .big-4 {
    width: 33.33%;
  }
  .big-5 {
    width: 41.66%;
  }
  .big-6 {
    width: 50%;
  }
  .big-7 {
    width: 58.33%;
  }
  .big-8 {
    width: 66.66%;
  }
  .big-9 {
    width: 74.99%;
  }
  .big-10 {
    width: 83.33%;
  }
  .big-11 {
    width: 91.66%;
  }
  .big-12 {
    width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .midi-1, .midi-2, .midi-3, .midi-4, .midi-5, .midi-6, .midi-7, .midi-8, .midi-9, .midi-10, .midi-11, .midi-12 
  {
    
    float: left;
  }
  .midi-1 {
    width: 8.33%;
  }
  .midi-2 {
    width: 16.66%;
  }
  .midi-3 {
    width: 25%;
  }
  .midi-4 {
    width: 33.33%;
  }
  .midi-5 {
    width: 41.66%;
  }
  .midi-6 {
    width: 50%;
  }
  .midi-7 {
    width: 58.33%;
  }
  .midi-8 {
    width: 66.66%;
  }
  .midi-9 {
    width: 74.99%;
  }
  .midi-10 {
    width: 83.33%;
  }
  .midi-11 {
    width: 91.66%;
  }
  .midi-12 {
    width: 100%;
  }
}


@media  (max-width: 767px) {
  .phone-1, .phone-2, .phone-3, .phone-4, .phone-5, .phone-6, .phone-7, .phone-8, .phone-9, .phone-10, .phone-11, .phone-12 {
    float: left;
  }
  .phone-1 {
    width: 8.33%;
  }
  .phone-2 {
    width: 16.66%;
  }
  .phone-3 {
    width: 25%;
  }
  .phone-4 {
    width: 33.33%;
  }
  .phone-5 {
    width: 41.66%;
  }
  .phone-6 {
    width: 50%;
  }
  .phone-7 {
    width: 58.33%;
  }
  .phone-8 {
    width: 66.66%;
  }
  .phone-9 {
    width: 74.99%;
  }
  .phone-10 {
    width: 83.33%;
  }
  .phone-11 {
    width: 91.66%;
  }
  .phone-12 {
    width: 100%;
  }
}
